<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="top_menu"> <a href="{% url 'bio_view' %}">About the author</a> <br>
      <a href="{% url 'detail_view' %}">Houses</a>

    </div>
    <h1>This is home</h1>
 </div>
  </body>
</html>
